.ml-advisors {

  &__content {
    margin: rem(30) auto;
    max-width: rem(1168);
  }

  &__title {
    margin: 0 auto;
    max-width: rem(860);
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(25);
    margin: rem(60) 0;
  }

  &__item {
    width: 20%;
    min-width: rem(200);
    max-width: rem(200);
  }
}
