.ml-roadmap {

  &__content {
    margin: rem(30) auto rem(90);
    max-width: rem(1168);
  }

  &__title {
    margin: 0 auto;
    max-width: rem(860);
  }

  &__steps {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(4);

    &__item {
      $step: &;
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(16);
      height: rem(16);
      cursor: pointer;

      &__bullet {
        width: rem(10);
        height: rem(10);
        background-color: $ui_color_roadmap_group2;
        border-radius: 50%;
        opacity: .5;
        transform: scale(.5);
        transition: all 600ms cubic-bezier(0.17,0.84,0.44,1) 0ms;
      }

      &:not(#{$step}--active):hover {

        #{$step}__bullet {
          opacity: .8;
          transform: scale(.8);
        }
      }

      &--active {
        cursor: default;

        #{$step}__bullet {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    margin: 0;
    height: 100%;
  }

  &__timeline {
    @include TimelineGradient;
    position: relative;
    margin: rem(106) auto 0;
    width: 100%;
    min-width: none;
    height: rem(6);
  }

  &__controls {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;

    &__step {
      $step: &;
      position: absolute;
      top: rem(-30);
      cursor: pointer;

      svg {
        width: rem(36);
        height: rem(36);
      }

      &--disabled {
        pointer-events: none;
        cursor: default;

        & > * {
          opacity: .15;
        }
      }

      &--prev {
        left: rem(-28);
      }
  
      &--next {
        right: rem(-28);
      }

      &:not(#{$step}--disabled):hover svg {
        fill: $ui_color_link_hover;
      }
    }
  }

  &__milestones {
    $milestones: &;
    position: relative;

    &__group-list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: row;
      position: relative;
      transition: all 600ms cubic-bezier(0.17,0.84,0.44,1) 0ms;
    }

    &__group {
      min-width: 100%;
      padding: 0 rem(19);
      opacity: .3;
      filter: blur(rem(2));
      transition: all 600ms cubic-bezier(0.17,0.84,0.44,1) 0ms;
 
      @include screenSize('tablet') {
        min-width: 50%;
      }

      #{$milestones}__card {
        transform: scale(.9);
      }

      &--active {
        opacity: 1;
        filter: blur(0);
        
        #{$milestones}__card {
          transform: scale(1);
        }
        
        #{$milestones}__dot {
          border-color: $ui_color_roadmap_group2;
          box-shadow: 0 rem(3) rem(15) 0 $ui_color_roadmap_group2_shadow;
        }
      }

      @include screenSize('tablet') {

        &--prev-active {
          opacity: 1;
          filter: blur(0);

          #{$milestones}__card {
            transform: scale(1);
          }
          
          #{$milestones}__dot {
            border-color: $ui_color_roadmap_group1;
            box-shadow: 0 rem(3) rem(15) 0 $ui_color_roadmap_group1_shadow;
          }
        }
      }
    }

    &__mark {
      margin: rem(-70) rem(38) rem(70 - 21 - 16);
    }

    &__date {
      margin: 0;
      font-size: rem(26);
      line-height: rem(35);
    }

    &__dot {
      position: relative;
      margin: rem(21) 0 0;
      width: rem(21);
      height: rem(21);
      background-color: $ui_color_roadmap_dot;
      border: rem(4) solid transparent;
      border-radius: 50%;
      transition: all 600ms cubic-bezier(0.17,0.84,0.44,1) 0ms;
    }

    &__card {
      position: relative;
      max-width: rem(537);
      text-align: left;
      transition: all 600ms cubic-bezier(0.17,0.84,0.44,1) 0ms;
  
      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        left: rem(32);
        top: rem(-16);
        width: 0; 
        height: 0; 
        border-left: rem(16) solid transparent;
        border-right: rem(16) solid transparent;
        border-bottom: rem(16) solid $ui_color_roadmap_arrow;
      }
    }

    &__list {
      margin: rem(-36) 0;
    }

    &__item {
      display: flex;
      margin: rem(36) 0;
    }

    &__status {
      @include BackgroundGradient;
      display: inline-flex;
      position: relative;
      margin: rem(7) rem(20) 0 0;
      width: rem(13);
      height: rem(13);
      border-radius: 50%;
      border: rem(1.5) solid $ui_color_button_alt_hover_bg;
      box-shadow: 0 rem(3) rem(10) 0 $ui_color_block_shadow;
      filter: grayscale(1) brightness(.8) opacity(.6);

      &--active {
        filter: none;
      }
    }

    &__text {
      flex: 1;
      font-size: rem(18);
      line-height: rem(26);
    }
  }
}
